header {
  font-size: 5rem;
  position: absolute;
  left: calc(50% - 4rem);
  top: 50px;
  transform: translateX(-50%);
  white-space: nowrap;
}

#chance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

#chance > div {
  flex: 1;
}

#indicators {
  align-self: center;
}

#selector {
  width: calc(80% - 7rem);
  align-self: center;
}

input {
  width: 45%;
  height: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(66, 66, 66);
}

input::placeholder{
  color: rgb(163, 163, 163);
}

hr {
  width: 70%;
}

#simplifier {
  height: 3.5rem;
  width: 7rem;
  align-self: center;
  margin-left: 12px;
}